<!DOCTYPE html>
<html>
<head>
  <title>LetsChill</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<p class='notice'><%= notice %></p>
	<p class='alert'><%= alert %></p>
  <img src="http://www.clker.com/cliparts/i/7/R/z/J/P/ice-cube-md.png" class="ice-cube" />
<%= yield %>

</body>
</html>
